<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DAL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="QuanLyKiTucXaEntities" connectionString="metadata=res://*/QuanLyKiTucXa.csdl|res://*/QuanLyKiTucXa.ssdl|res://*/QuanLyKiTucXa.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MinhTam\SQLEXPRESS;initial catalog=QuanLyKiTucXa;user id=sa;password=sa2012;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <DAL.Properties.Settings>
      <setting name="StringConnect" serializeAs="String">
        <value>Data Source=DESKTOP-FQDE5LO;Initial Catalog=QuanLyKiTucXa;User ID=sa;Password=123456</value>
      </setting>
      <setting name="StringUser" serializeAs="String">
        <value />
      </setting>
      <setting name="StringPass" serializeAs="String">
        <value />
      </setting>
      <setting name="CheckLuu" serializeAs="String">
        <value>False</value>
      </setting>
    </DAL.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>